* {
  background-color: #FEF9EF;
}




a {
  font-size: 20px;
  border-radius: 10px;
  border-width: 2px;
  margin-left: 150px;
  text-decoration: none;
  color: rgb(225, 54, 54);
  font-family: Helvetica;
}

.logo {
  display: inline-block;
  height: 60px;
  width: 150px;
  background-color: #F8F8FF;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-left: 20px;
}

.button {
  border-width: 1px;
  font-size: 18px;
  border-color: black;
  background-color: lightsteelblue;
}

hr {
  text-align: center;
  font-family: Helvetica;
}
.scholheading{
  font-family: Helvetica;
  font-weight: bold;
}
.scholcol{
  font-family: Helvetica;
  text-align: auto;
}

.noticeN{
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}

.allbox {
  width: 400px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 40px;
  display: inline-block;
  font-family: Helvetica;
  ;
}

.study {
  padding-top: 25px;
  padding-left: 105px;
  display: inline-block;
  transition: all 2s ease-in;
}

.hero {
  display: flex; /
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
}

.study img {
  max-width: 100%;
  height: auto; 
}

.text {
  margin-left: 20px;  
  font-size: 24px; 
  font-weight: bold; 
  line-height: 1.5; 
  text-align: right; 
}

.text p {
  font-family:Helvetica; 
}


h4 {
  text-align: center;
  background-color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 10px;
  font-family: Helvetica;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-family: Helvetica;
}

.mohit {
  background-color: grey;
  padding-left: 20px;
  padding-top: 10px;
  font-family: Helvetica;
  font-weight: bold;
}

.mohitm {
  background-color: white;
  padding-left: 40px;
  margin-left: 450px;
  margin-right: 20px;
  margin-top: 30px;
  width: 400px;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 100px;
  font-family: Helvetica;
  font-weight: bold;
}

.payment {
  background-color: white;
  padding: 10px;
  font-size: 20px;
  padding-left: 200px;
}

.fee {
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  color: black;
}

p1 {
  padding-left: 200px;
}

h {
  font-size: 20px;
  color: black;
}




button:active {
  background-color: white;
  color: blue;
}

p1:active{
  color: #322fff;
}
p5:active{
  color: #322fff;
}
p4:active{
  color: #322fff;
}
p3:active{
  color: #322fff;
}
p2:active{
  color: #322fff;
}
p6:active{
  color: #322fff;
}
p7:active{
  color: #322fff;
}
p8:active{
  color: #322fff;
}
